.project
.settings/
.gradle/
front/.classpath
front/.project
front/.settings/
front/build/
front/src/main/webroot/.npmrc
front/src/main/webroot/node_modules/
persistence/.classpath
persistence/.project
persistence/.settings/
persistence/build/
persistence/bin/
platform/.classpath
platform/.project
platform/.settings/
platform/build/
platform/dependency-reduced-pom.xml
platform/bin/
server/.classpath
server/.project
server/.settings/
server/build/